**.pyc
**__pycache__
**.cache
.coverage
**terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
project.json
**.crt
**.DS_STORE
lambda_chef_node_cleanup.zip
lambda/encrypted_pem.txt
lambda/local_config.py
*.zip
venv/
.chef/
